In [41]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import numpy as np
import requests

In [2]:
pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Texas/allcounties")

       State    County Totals as of Date  Cases  Deaths
0      Texas  Anderson        2020-01-22      0       0
1      Texas  Anderson        2020-01-23      0       0
2      Texas  Anderson        2020-01-24      0       0
3      Texas  Anderson        2020-01-25      0       0
4      Texas  Anderson        2020-01-26      0       0
...      ...       ...               ...    ...     ...
29947  Texas    Zavala        2020-05-13      9       0
29948  Texas    Zavala        2020-05-14      9       0
29949  Texas    Zavala        2020-05-15      9       0
29950  Texas    Zavala        2020-05-16      9       0
29951  Texas    Zavala        2020-05-17      9       0

[29952 rows x 5 columns]

In [3]:
Alabama = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Alabama/allcounties")
Alaska = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Alaska/allcounties")
Arizona = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Arizona/allcounties")
Arkansas = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Arkansas/allcounties")
California = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/California/allcounties")
Colorado = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Colorado/allcounties")
Connecticut = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Connecticut/allcounties")
DC = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/District%20of%20Columbia/allcounties")
Delaware = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Delaware/allcounties")
Florida = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Florida/allcounties")
Georgia = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Georgia/allcounties")
Hawaii = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Hawaii/allcounties")
Idaho = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Idaho/allcounties")
Illinois = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Illinois/allcounties")
Indiana = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Indiana/allcounties")
Iowa = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Iowa/allcounties")
Kansas = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Kansas/allcounties")
Kentucky = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Kentucky/allcounties")
Louisiana = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Louisiana/allcounties")
Maine = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Maine/allcounties")
Maryland = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Maryland/allcounties")
Massachusetts = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Massachusetts/allcounties")
Michigan = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Michigan/allcounties")
Minnesota = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Minnesota/allcounties")
Mississippi = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Mississippi/allcounties")
Missouri = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Missouri/allcounties")
Montana = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Montana/allcounties")
Nebraska = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Nebraska/allcounties")
Nevada = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Nevada/allcounties")
New_Hampshire = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/New%20Hampshire/allcounties")
New_Jersey = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/New%20Jersey/allcounties")
New_Mexico = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/New%20Mexico/allcounties")
New_York = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/New%20York/allcounties")
North_Carolina = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/North%20Carolina/allcounties")
North_Dakota = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/North%20Dakota/allcounties")
Ohio = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Ohio/allcounties")
Oklahoma = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Oklahoma/allcounties")
Oregon = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Oregon/allcounties")
Pennsylvania = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Pennsylvania/allcounties")
Rhode_Island = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Rhode%20Island/allcounties")
South_Carolina = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/South%20Carolina/allcounties")
South_Dakota = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/South%20Dakota/allcounties")
Tennessee = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Tennessee/allcounties")
Texas = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Texas/allcounties")
Utah = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Utah/allcounties")
Vermont = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Vermont/allcounties")
Virginia = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Virginia/allcounties")
Washington = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Washington/allcounties")
West_Virginia = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/West%20Virginia/allcounties")
Wisconsin = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Wisconsin/allcounties")
Wyoming = pd.read_json("https://api-pc6dbtrtla-uc.a.run.app/API/us/timeseries/Wyoming/allcounties")
fulldf = pd.DataFrame().append(Alabama).append(Alaska).append(Arizona).append(Arkansas).append(California).append(Colorado).append(Connecticut).append(Delaware).append(Florida).append(Georgia).append(Hawaii).append(Idaho).append(Illinois).append(Indiana).append(Iowa).append(Kansas).append(Kentucky).append(Louisiana).append(Maine).append(Maryland).append(Massachusetts).append(Michigan).append(Minnesota).append(Mississippi).append(Missouri).append(Montana).append(Nebraska).append(Nevada).append(New_Hampshire).append(New_Jersey).append(New_Mexico).append(New_York).append(North_Carolina).append(North_Dakota).append(Ohio).append(Oklahoma).append(Oregon).append(Pennsylvania).append(Rhode_Island).append(South_Carolina).append(South_Dakota).append(Tennessee).append(Texas).append(Utah).append(Vermont).append(Virginia).append(Washington).append(Wisconsin).append(Wyoming).append(DC).append(West_Virginia)

In [4]:
fulldf = pd.DataFrame().append(Alabama).append(Alaska).append(Arizona).append(Arkansas).append(California).append(Colorado).append(Connecticut).append(Delaware).append(Florida).append(Georgia).append(Hawaii).append(Idaho).append(Illinois).append(Indiana).append(Iowa).append(Kansas).append(Kentucky).append(Louisiana).append(Maine).append(Maryland).append(Massachusetts).append(Michigan).append(Minnesota).append(Mississippi).append(Missouri).append(Montana).append(Nebraska).append(Nevada).append(New_Hampshire).append(New_Jersey).append(New_Mexico).append(New_York).append(North_Carolina).append(North_Dakota).append(Ohio).append(Oklahoma).append(Oregon).append(Pennsylvania).append(Rhode_Island).append(South_Carolina).append(South_Dakota).append(Tennessee).append(Texas).append(Utah).append(Vermont).append(Virginia).append(Washington).append(Wisconsin).append(Wyoming).append(DC).append(West_Virginia)

In [5]:
fulldf

              State   County Totals as of Date  Cases  Deaths
0           Alabama  Autauga        2020-01-22      0       0
1           Alabama  Autauga        2020-01-23      0       0
2           Alabama  Autauga        2020-01-24      0       0
3           Alabama  Autauga        2020-01-25      0       0
4           Alabama  Autauga        2020-01-26      0       0
...             ...      ...               ...    ...     ...
6664  West Virginia  Wyoming        2020-05-13      1       0
6665  West Virginia  Wyoming        2020-05-14      1       0
6666  West Virginia  Wyoming        2020-05-15      1       0
6667  West Virginia  Wyoming        2020-05-16      2       0
6668  West Virginia  Wyoming        2020-05-17      2       0

[380718 rows x 5 columns]

In [47]:
datalist = []
for index, row in fulldf.iterrows():
    if row["State"] == "Iowa": 
        data = (row["State"], row["County"], row["Totals as of Date"], row["Cases"], row["Deaths"])
        datalist.append(data)
        
statedf = pd.DataFrame(datalist, columns = ["State", "County", "Totals as of Date", "Cases", "Deaths"])

      State  County Totals as of Date  Cases  Deaths
0      Iowa   Adair        2020-01-22      0       0
1      Iowa   Adair        2020-01-23      0       0
2      Iowa   Adair        2020-01-24      0       0
3      Iowa   Adair        2020-01-25      0       0
4      Iowa   Adair        2020-01-26      0       0
...     ...     ...               ...    ...     ...
11812  Iowa  Wright        2020-05-13      6       0
11813  Iowa  Wright        2020-05-14      6       0
11814  Iowa  Wright        2020-05-15      7       0
11815  Iowa  Wright        2020-05-16      8       0
11816  Iowa  Wright        2020-05-17     14       0

[11817 rows x 5 columns]

In [43]:
countyunique

array(['Anderson', 'Andrews', 'Angelina', 'Aransas', 'Archer',
       'Armstrong', 'Atascosa', 'Austin', 'Bailey', 'Bandera', 'Bastrop',
       'Baylor', 'Bee', 'Bell', 'Bexar', 'Blanco', 'Borden', 'Bosque',
       'Bowie', 'Brazoria', 'Brazos', 'Brewster', 'Briscoe', 'Brooks',
       'Brown', 'Burleson', 'Burnet', 'Caldwell', 'Calhoun', 'Callahan',
       'Cameron', 'Camp', 'Carson', 'Cass', 'Castro', 'Chambers',
       'Cherokee', 'Childress', 'Clay', 'Cochran', 'Coke', 'Coleman',
       'Collin', 'Collingsworth', 'Colorado', 'Comal', 'Comanche',
       'Concho', 'Cooke', 'Coryell', 'Cottle', 'Crane', 'Crockett',
       'Crosby', 'Culberson', 'Dallam', 'Dallas', 'Dawson', 'DeWitt',
       'Deaf Smith', 'Delta', 'Denton', 'Dickens', 'Dimmit', 'Donley',
       'Duval', 'Eastland', 'Ector', 'Edwards', 'El Paso', 'Ellis',
       'Erath', 'Falls', 'Fannin', 'Fayette', 'Fisher', 'Floyd', 'Foard',
       'Fort Bend', 'Franklin', 'Freestone', 'Frio', 'Gaines',
       'Galveston', 'Garza', 'Gillespie', 'Glasscock', 'Goliad',
       'Gonzales', 'Gray', 'Grayson', 'Gregg', 'Grimes', 'Guadalupe',
       'Hale', 'Hall', 'Hamilton', 'Hansford', 'Hardeman', 'Hardin',
       'Harris', 'Harrison', 'Hartley', 'Haskell', 'Hays', 'Hemphill',
       'Henderson', 'Hidalgo', 'Hill', 'Hockley', 'Hood', 'Hopkins',
       'Houston', 'Howard', 'Hudspeth', 'Hunt', 'Hutchinson', 'Irion',
       'Jack', 'Jackson', 'Jasper', 'Jeff Davis', 'Jefferson', 'Jim Hogg',
       'Jim Wells', 'Johnson', 'Jones', 'Karnes', 'Kaufman', 'Kendall',
       'Kenedy', 'Kent', 'Kerr', 'Kimble', 'King', 'Kinney', 'Kleberg',
       'Knox', 'La Salle', 'Lamar', 'Lamb', 'Lampasas', 'Lavaca', 'Lee',
       'Leon', 'Liberty', 'Limestone', 'Lipscomb', 'Live Oak', 'Llano',
       'Loving', 'Lubbock', 'Lynn', 'Madison', 'Marion', 'Martin',
       'Mason', 'Matagorda', 'Maverick', 'McCulloch', 'McLennan',
       'McMullen', 'Medina', 'Menard', 'Midland', 'Milam', 'Mills',
       'Mitchell', 'Montague', 'Montgomery', 'Moore', 'Morris', 'Motley',
       'Nacogdoches', 'Navarro', 'Newton', 'Nolan', 'Nueces', 'Ochiltree',
       'Oldham', 'Orange', 'Out of TX', 'Palo Pinto', 'Panola', 'Parker',
       'Parmer', 'Pecos', 'Polk', 'Potter', 'Presidio', 'Rains',
       'Randall', 'Reagan', 'Real', 'Red River', 'Reeves', 'Refugio',
       'Roberts', 'Robertson', 'Rockwall', 'Runnels', 'Rusk', 'Sabine',
       'San Augustine', 'San Jacinto', 'San Patricio', 'San Saba',
       'Schleicher', 'Scurry', 'Shackelford', 'Shelby', 'Sherman',
       'Smith', 'Somervell', 'Starr', 'Stephens', 'Sterling', 'Stonewall',
       'Sutton', 'Swisher', 'Tarrant', 'Taylor', 'Terrell', 'Terry',
       'Throckmorton', 'Titus', 'Tom Green', 'Travis', 'Trinity', 'Tyler',
       'Unassigned', 'Upshur', 'Upton', 'Uvalde', 'Val Verde',
       'Van Zandt', 'Victoria', 'Walker', 'Waller', 'Ward', 'Washington',
       'Webb', 'Wharton', 'Wheeler', 'Wichita', 'Wilbarger', 'Willacy',
       'Williamson', 'Wilson', 'Winkler', 'Wise', 'Wood', 'Yoakum',
       'Young', 'Zapata', 'Zavala'], dtype='<U13')